.App {
  text-align:center; 
  margin: 0px 0%;
 
}
.image-1{
  
  width: 100%;
  height: 400px;
  margin-top: 1150px;
  margin-bottom: 400px;
 
}

.error{
  background-color: rgba(228, 2, 2, 0.712);
  color: white;
  padding: 25px;
  margin: 80px;
  font-size: larger;
  font-style: oblique;


}
.loader {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-left: 4px solid white;
  border-bottom: 4px solid transparent;
  animation: rotation 0.5s linear infinite reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 